.footer{
    width: 100%;
    padding: 100px 0 40px 0;
    .footer__wrapper{
        width: 100%;
        display: flex;
        .footer__titile{
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .footer__icons{
                width: 100%;
                display: flex;
                gap: 10px;
                .footer__image{
                    width: 20px;
                }
            }
        }

        .footer__text{
         width: 25%;
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 28px;
         b{
            font-size: 24px;
            color: #08546C;
            text-align: center;
         }
            .footer__collection{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                justify-content: center;
                .collection__title{
                    list-style: none;
                    color: #787878;
                    &:hover{
                        color: silver;
                        cursor: pointer;
                    }
                    &:active{
                        transform: scale(.9);
                        color: #FFA63A;
                    }
                }
            }
        }
    }
}