.header {
  width: 100%;
  padding: 20px;
  background: #08546c;
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar__collection {
      display: flex;
      gap: 20px;
      .collection__title {
        list-style: none;
        color: #a1b5bb;
        &:active {
          transform: scale(0.9);
        }
        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .navbar__btn {
      button {
        padding: 15px 34px;
        background: #145e76;
        border-radius: 25px;
        transition: 0.7;
        border: none;
        color: #fff;
        &:active {
          transform: scale(0.9);
          background: #FFA63A;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
