.main__infarmation{
    width: 100%;
    background: #08546c;
    .infarmation{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        .infarmation__image{
            width: 50%;
        }
    }
    .infarmation__logo{
        width: 50%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
            color: #fff;
        }
    }
}