.statistic{
    width: 100%;
    padding: 0 0 94px 0;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .statistic__wrapper{
        width: 100%;
        box-shadow: 0px 73px 80px 0px #0000000F;
        background: #fff;
        border-radius: 30px;
        display: flex;
        height: 323px;
        flex-wrap: wrap;
        .statistic__title{
            width: 100%;
            display: flex;
            justify-content: center;
          padding: 30px;
          h2{
color: #08546C;;
          }
        }
        .statistic__card{
            width: 25%;
            display: flex;
            align-items: center;
            flex-direction: column;
            b{
                font-size: 48px;
                color: #08546C;
                &:hover{
                    cursor: pointer;
                }
            }
            p{
                color: #08546C;
                font-size: 18px;
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    color: #FFA63A;
                }
            }
        }
    }
}