.footer{
    width: 100%;
    padding-top: 91px;
    background: #101010;
    .footer__wrapper{
        width: 100%;
        .footer__end{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 23px;
            .footer__title{
                display: flex;
                gap: 24px;
                flex-wrap: wrap;
                p{
                    color: #fff;
    
                }
            }
        }
        .footer__content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            background: #101010;
            .fiooter__logo{
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 64px;
                p{
                    color: #B3B3B3;
                }
            }
            .footer__text{
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                p{
                    color: #fff;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    li{
                        color: #fff;
                        list-style: none;
                    }
                }
            }
        }
    }
}











@media(max-width:700px){
    .footer{
        .footer__wrapper{
            .footer__content{
                flex-wrap: wrap;
                .fiooter__logo{
                    width: 100%;
                }
                .footer__text:nth-child(2){
                    display: none;
                }
                .footer__text:nth-child(3){
                    display: none;
                }
            }
        }
    }
}